.landing-about {
  background: linear-gradient(rgba(13, 48, 70, 0.8), rgba(13, 48, 70, 0.8)),
    url("../image/about/landing-bg.png");
  background-repeat: no-repeat;
  position: relative;
  height: 779px;
  background-size: cover;
}

.au-header {
  position: relative;
}

.landing-fg {
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 100%;
}

.landing-fg img {
  display: block;
  height: auto;
  margin: 0 0 0 auto;
  padding: 0;
  object-fit: cover;
}

#aboutid .side-content,
#joinusid .side-content,
#projectid .side-content {
  display: flex;
  flex-direction: column;
  gap: 450px;
  position: absolute;
  top: 10vh;
  left: 30px;
}

.au-title {
  position: absolute;
  width: 623px;
  height: 131px;
  top: 50px;
  left: 119px;
  gap: 0px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
}

.au-main-title {
  font-family: var(--notsansjp);
  font-size: 11.806vw;
  /* font-size: 12.5rem;  */
  font-weight: 700;
  line-height: 12.5rem; /* Updated to use rem */
  letter-spacing: 0.05em;
  text-align: left;
  position: relative;
}

.au-sub-title {
  font-family: "Readex Pro", sans-serif;
  font-size: 4.375rem; /* Updated to use rem */
  font-weight: 700;
  line-height: 11.25rem; /* Updated to use rem */
  letter-spacing: 0.05em;
  text-align: left;
  position: absolute;
  top: 400px;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff,
    2px 2px 0 #fff;
  text-wrap: nowrap;
  max-width: 80%;
}

.vma-title {
  position: relative;
  text-align: center;
  padding-block: 60px;
  color: var(--bgblue);
}

.vma-title::before {
  content: "RES";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  z-index: -1;
  font-family: var(--notsansjp);
  font-size: 200px;
  font-weight: 700;
  line-height: 281.2px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #d9d9d9;
}

.vma-title h1 {
  font-family: var(--notsansjp);
  font-size: 40px;
  font-weight: 700;
  line-height: 56.24px;
  letter-spacing: 0.05em;
  text-align: center;
}

.diagonal-section {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  min-height: 700px;
}

.diagonal-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: radial-gradient(
    circle at 0% 50.07%,
    rgba(86, 176, 210, 0.823529) 0%,
    rgba(44, 91, 108, 0.823529) 100%
  ); */
  transform: skewY(5deg);
  transform-origin: 0;
  z-index: 1;
}

.diagonal-section::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background: white;
  transform: skewY(-3deg);
  transform-origin: 100% 100%;
  z-index: 4;
}

#vision-section::before {
  background: radial-gradient(
    circle at 0% 50.07%,
    rgba(86, 176, 210, 0.823529) 0%,
    rgba(44, 91, 108, 0.823529) 100%
  );
}

#mission-section::before {
  background: radial-gradient(circle, #f9edeb 0.21%, #938c8b 100.91%);
  transform: skewY(-4deg);
  transform-origin: 100%;
}

#action-section::before {
  background: radial-gradient(circle, #56b0d2 -1.46%, #2c5b6c 100%);
  z-index: 1;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.section-content {
  position: relative;
  z-index: 3;
  padding-block: 10%;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  margin-left: 126px;
}

.section-content p {
  font-family: var(--notsansjp);
  font-size: 14px;
  font-weight: 600;
  line-height: 22.5px;
  letter-spacing: 0.05em;
  text-align: left;
  width: 582px;
}

.image-placeholder {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: 2;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.image-placeholder img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.section-text {
  flex: 0 0 50%;
  padding: 50px;
  z-index: 2;
}

.rotated-text {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: rotate(90deg) translateX(-50%);
  transform-origin: left top;
  font-size: 150px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.2);
  z-index: 3;
  font-family: var(--notsansjp);
  line-height: 168.75px;
  letter-spacing: 0.03em;
  text-align: left;
}

/* MISSION ->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#mission-section .rotated-text {
  left: 794px;
  right: 120px;
  transform: rotate(-90deg) translateX(50%);
  transform-origin: right top;
  font-size: 116px;
}

#mission-section .section-content {
  justify-content: flex-end;
  width: 89%;
  display: block;
  /* padding-block: unset; */
}

#mission-section .section-content .image-placeholder {
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 58%;
  /* height: 100%; */
  overflow: hidden;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  left: auto;
}

#mission-section .section-content .image-placeholder img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

#mission-section .section-content p {
  font-size: 16px;
}

#action-section .section-content .image-placeholder {
  position: absolute;
  bottom: 0;
  left: 350px;
  width: 95%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  top: 93px;
}

#action-section .section-content .image-placeholder img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

#action-section .section-text {
  flex: 0 0 50%;
  /* padding: 0 50px; */
  z-index: 2;
}

#vision-section .section-content .image-placeholder {
  position: absolute;
  bottom: 0;
  left: 589px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
#vision-section .section-content .image-placeholder img {
  width: 95%;
  /* height: 100%; */
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.section-title {
  font-family: var(--notsansjp);
  font-size: 60px;
  font-weight: 700;
  line-height: 84.38px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 20px;
  color: #0d3046;
  -webkit-text-stroke: 0.5px #0d3046;
  text-shadow: -0.5px -0.5px 0 #0d3046, 0.5px -0.5px 0 #0d3046,
    -0.5px 0.5px 0 #0d3046, 0.5px 0.5px 0 #0d3046;
}

.section-title p {
  font-family: var(--notsansjp);
  font-size: 14px;
  font-weight: 600;
  line-height: 19.69px;
  letter-spacing: 0.03em;
  text-align: left;
}

.mobile-content {
  display: none;
}

@media (max-width: 1220px) {
  .au-sub-title {
    font-size: 3.25rem;
  }
  .section-content {
    padding-block: unset;
  }
  .au-main-title {
    font-size: 7.5rem; /* Updated to use rem */
    line-height: unset;
  }
  .au-sub-title {
    font-size: 3rem; /* Updated to use rem */
    text-align: left;
    position: absolute;
    top: unset;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
      1px 1px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff,
      2px 2px 0 #fff;
    /* white-space: normal; */
    max-width: 80%;
    line-height: 2.05em;
    text-wrap: unset;
  }
  .vma-title {
    padding-block: unset;
  }

  .vma-title h1 {
    font-size: 30px;
    text-align: center;
    padding: 30px;
  }
  .vma-title::before {
    display: none;
  }
  /* MOBILEE _>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

  .mobile-content {
    display: block;
    position: relative;
    z-index: 10;
    isolation: isolate;
    transform: skewY(-4deg);
    margin-top: -20px;
  }
  #vision-section .mobile-content,
  #action-section .mobile-content {
    background: radial-gradient(
      194.61% 549.58% at 3.53% 49.92%,
      rgb(86, 176, 210) 0%,
      rgb(44, 91, 108) 100%
    );
  }
  #mission-section .mobile-content {
    background: linear-gradient(89.24deg, #f9edeb 0.62%, #938c8b 301.04%);
  }

  .mobile-content * {
    transform: none;
  }

  .diagonal-section {
    padding-block: 60px;
  }

  .diagonal-section::before {
    z-index: 1;
  }

  .section-content {
    position: relative;
    z-index: 5;
  }

  .mobile-content > * {
    transform: skewY(
      4deg
    ); /* Use the opposite angle to counter the parent's skew */
  }

  /* END */

  .rotated-text {
    font-size: 120px;
    margin-left: 126px;
  }
  .section-content {
    margin-left: unset;
  }
  .desktop-content {
    visibility: hidden;
    max-height: 500px;
  }
  #vision-section .section-content .image-placeholder {
    width: 61%;
    height: unset;
    margin-left: -38px;
    max-height: 100%;
  }

  #mission-section .section-content .image-placeholder {
    width: 100%;
    height: unset;
    margin-left: -200px;
    left: 210px;
    max-height: 100%;
  }
  #mission-section::before {
    background: radial-gradient(circle, #f9edeb 0.21%, #938c8b 100.91%);
    z-index: -3;
  }
  #mission-section .rotated-text {
    left: -275px;
    right: 94px;
    transform: rotate(-90deg) translateX(50%);
    transform-origin: right top;
  }

  #action-section .section-content .image-placeholder {
    width: 80%;
    height: unset;
    /* margin-left: -200px; */
    left: 369px;
  }
  #action-section::before {
    background: radial-gradient(circle, #56b0d2 -1.46%, #2c5b6c 100%);
    z-index: -3;
  }

  .diagonal-section::before {
    z-index: -1;
  }

  .section-title {
    font-size: 45px;
  }
  .section-text {
    padding-bottom: 130px;
  }

  .au-main-title {
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  #vision-section .section-content .image-placeholder {
    width: 95%;
    height: unset;
    margin-left: -474px;
    max-height: 100%;
  }
  #action-section .section-content .image-placeholder {
    width: 95%;
    height: unset;
    margin-left: -252px;
    max-height: 100%;
  }
}

@media (max-width: 480px) {
  #aboutid .social,
  #joinusid .social,
  #projectid .social {
    margin-left: unset;
  }

  #aboutid .side-content,
  #joinusid .side-content,
  #projectid .side-content {
    left: 16px;
  }

  #aboutid .landing-fg {
    left: -37px;
  }

  .au-title {
    left: 85px;
  }

  .au-main-title {
    font-size: 4.625rem; /* Updated to use rem */
    line-height: unset;
  }
  .au-sub-title {
    font-size: 2.5rem;
    text-align: left;
    position: absolute;
    top: unset;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
      1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
      1px 0px 0 #fff;
    white-space: normal;
    max-width: 30%;
    text-wrap: wrap;
  }
  .vma-title {
    padding-block: unset;
  }

  .vma-title h1 {
    font-size: 25px;
    text-align: center;
    padding: 30px;
  }
  .vma-title::before {
    display: none;
  }

  .rotated-text {
    font-size: 100px;
    margin-left: 126px;
  }
  .section-content {
    margin-left: unset;
  }

  #vision-section .section-content .image-placeholder {
    width: 170%;
    height: unset;
    left: 482px;
  }

  #mission-section .section-content .image-placeholder {
    width: 155%;
    height: unset;
    margin-left: -200px;
    left: 152px;
  }
  #mission-section::before {
    background: radial-gradient(circle, #f9edeb 0.21%, #938c8b 100.91%);
    z-index: -3;
  }
  #mission-section .rotated-text {
    left: -203px;
    right: -90px;
    transform: rotate(90deg) translateX(50%);
    transform-origin: right top;
  }
  #mission-section .slideright {
    transform: scale(1);
    transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1),
      opacity 1s ease-in-out;
  }

  #action-section .section-content .image-placeholder {
    width: 170%;
    height: unset;
    margin-left: -321px;
    left: 210px;
  }
  #action-section::before {
    background: radial-gradient(circle, #56b0d2 -1.46%, #2c5b6c 100%);
    z-index: -3;
  }
  #vision-section .slideleft,
  #action-section .slideleft {
    transform: scale(1);
    transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1),
      opacity 1s ease-in-out;
  }

  .diagonal-section::before {
    z-index: -1;
  }

  .section-title {
    font-size: 35px;
  }
  .section-text {
    padding-bottom: 130px;
  }
  .au-sub-title {
    line-height: 2.05em;
    margin-top: 80px;
  }
  .au-main-title {
    max-width: 50%;
  }
}
