* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
body,
html {
  scroll-behavior: smooth;
  /* For AOS Animation to effect properly, disable overflow-x: hidden */
  overflow-x: hidden;
}

.global_width {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.global_padding {
  padding: 20px 35px;
}
.sg_title {
  font-family: var(--kiak);
  font-size: 60px;
  font-weight: 700;
  line-height: 84.36px;
  letter-spacing: 0.05em;
}

.sb_title {
  font-family: var(--kiak);
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.05em;
}

.sc_title {
  font-family: var(--kiak);
  font-size: 60px;
  font-weight: 700;
  line-height: 84.36px;
  letter-spacing: 0.05em;
}

.sd_title {
  font-family: var(--readex);
  font-size: 30px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.05em;
}

.sg_description {
  font-family: var(--notsansjp);
  font-size: 20px;
  font-weight: 500;
  line-height: 28.13px;
  letter-spacing: 0.1em;
}
.sc_description {
  font-family: var(--notsansjp);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.1em;
}

/* Colors */

.sub-head-clr {
  color: #81bf24 !important;
}

.head-clr {
  color: #0d3046;
}

.sub-main-clr {
  color: #083f75;
}

.text-clr {
  color: #1e1e1e;
}

.sub-text-clr {
  color: #6a6a6a;
}

.white-clr {
  color: #ffffff;
}

.econdary-text-clr {
  color: #b0b3c1;
}

.section-head-clr {
  color: #d9d9d9;
}

.read-more {
  color: #898989;
}

.light-blue {
  color: #56b0d2;
}

.white-blue {
  background-color: #edf8fd;
}

/* Font Size */

.p-12 {
  font-size: 12px;
}

.p-14 {
  font-size: 14px;
}

.p-15 {
  font-size: 15px;
}

.p-16 {
  font-size: 16px;
}

.p-17 {
  font-size: 17px;
}

.p-18 {
  font-size: 18px;
}

.p-19 {
  font-size: 19px;
}

.p-20 {
  font-size: 20px;
}

.p-22 {
  font-size: 22px;
}

.p-25 {
  font-size: 25px;
}

.p-30 {
  font-size: 30px;
}

.p-40 {
  font-size: 40px;
}

.p-50 {
  font-size: 50px;
}

.p-60 {
  font-size: 60px;
}

.p-70 {
  font-size: 70px;
}

.p-100 {
  font-size: 100px;
}

.p-120 {
  font-size: 120px;
}

.p-150 {
  font-size: 150px;
}

.p-175 {
  font-size: 175px;
}

.p-200 {
  font-size: 13.889vw; /** 200px */
}

.p-230 {
  font-size: 230px;
}

.p-250 {
  font-size: 250px;
}

.p-300 {
  font-size: 300px;
}

/* Font Weight */

.w-400 {
  font-weight: 400;
}

.w-500 {
  font-weight: 500;
}

.w-600 {
  font-weight: 600;
}

.w-700 {
  font-weight: 700;
}

.w-800 {
  font-weight: 800;
}

.w-900 {
  font-weight: 900;
}

/* Webkit Stroke  */

.wk-s-2 {
  -webkit-text-stroke-width: 2px;
}

.wk-s-5 {
  -webkit-text-stroke-width: 5px;
}

/* Margin - Top */

.mt-15 {
  margin-top: 15%;
}

.mb-3 {
  margin-bottom: 3%;
}

.mb-5 {
  margin-bottom: 5%;
}

.mb-15 {
  margin-bottom: 15%;
}

.mb-25 {
  margin-bottom: 25%;
}

.ml-8 {
  margin-left: 8%;
}

/* Padding  */

/* Display */

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.gap-15 {
  gap: 15px;
}

.gap-25 {
  gap: 25px;
}

.gap-35 {
  gap: 35px;
}

.space-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.text-center {
  text-align: center;
}

.align-items-center {
  align-items: center;
}

button {
  cursor: pointer;
}
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-rr {
  flex-direction: row-reverse;
}
.flex-cr {
  flex-direction: column-reverse;
}
.jc-center {
  justify-content: center;
}
.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.gap-15 {
  gap: 15px;
}

.gap-25 {
  gap: 25px;
}

.gap-35 {
  gap: 35px;
}

.space-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.text-center {
  text-align: center;
}

.align-items-center {
  align-items: center;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^   MARQUEE ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.marquee-container {
  height: 118px;
  width: 100%; /* Full width */
  overflow: hidden; /* Hide the overflowing content */
  background-color: #2e88aa; /* Background color for the marquee */
  display: flex;
  justify-content: center;
  align-items: center;
}

.marquee {
  display: inline-flex; /* Ensure that ul items flow horizontally */
  white-space: nowrap; /* Prevent line breaks */
  animation: marquee 25s linear infinite;
}

.marquee-container p {
  color: white;
  font-weight: 700;
  font-size: 30px;
}

.marquee-container ul {
  display: inline-flex; /* Change to inline-flex to avoid wrapping */
  align-items: center;
  padding: 0;
  margin: 0;
}

.marquee-container ul li {
  list-style: none; /* Remove default bullet points */
  margin: 0 25px; /* Adjust margin for spacing */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  } /* Start off-screen to the right */
  100% {
    transform: translateX(-100%);
  } /* End off-screen to the left */
}

/* ^^^^^^^^^^^^^^^^^^^^ END MARQUEE ^^^^^^^^^^^^^^^^^^^^^^^^^ */

.no-display {
  display: none;
}
