footer {
  /* height: 100vh; */
  margin-top: 25px;
}

.footer-container {
  position: relative;
  overflow: hidden;
  /* height: 100%; */
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fff;
  /* text-transform: uppercase; */
  font-size: 20px;
}

.footer-container:before {
  content: "";
  display: block;
  position: absolute;
  left: -50%;
  top: 0;
  width: 200%;
  bottom: 0;
  background-color: #d9d9d9;
  border-radius: 50% 50% 0 0;
  z-index: -1;
}

.p-blue-16 {
  color: var(--footertextcolor);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.15em;
  text-align: left;
}
table {
  border-collapse: collapse;
}
table td {
  border: 2px solid var(--footertextcolor);
  padding: 6px 8px 5px 10px;
}

.contact-text {
  font-family: var(--secondFont);
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-align: left;
  color: var(--footertextcolor);
  padding: 13px 15px 13px 20px;
  margin: 0;
}

table tr img {
  width: 30px;
  height: 30px;
}

.line {
  width: 30px;
  height: 29.94px;
  top: 326.32px;
  left: 191.9px;
  gap: 0px;
  opacity: 0px;
}
.footer-links {
  color: var(--footertextcolor);
  font-family: var(--fourthFont);
}

.footer-links li:last-child {
  margin-bottom: 0; /* Remove margin from the last item */
}
.footer-links li {
  list-style: none;
  margin-bottom: 12px; /* Add margin to create the gap */
}

.footer-links li a {
  text-decoration: none;
  font-family: var(--inter);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  text-align: left;
  color: var(--footertextcolor);
}
.footer-links li a:visited {
  color: inherit;
}

.footer-col-title {
  font-family: var(--thirdFont);
  font-size: 20px;
  font-weight: 700;
  line-height: 22.9px;
  letter-spacing: 0.05em;
  text-align: left;
  color: var(--footertextcolor);
  margin-bottom: 5px;
}

.upper-footer {
  padding: 40px;
  display: flex;
  gap: 66px;
}

.footer-col-title-huge {
  font-family: var(--kiak);
  font-size: 40px;
  font-weight: 700;
  line-height: 56.24px;
  letter-spacing: 0.05em;
  text-align: left;
  color: var(--footertextcolor);
}

.uf-c4 {
  margin-left: 52px;
}

.w-369 {
  width: 369px;
}

.lower-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  height: 75px;
}

.hr-footer {
  border: 1px solid #ffffff;
}

.green-button {
  margin-top: 12px;
  width: 295.67px;
  height: 80px;
  top: 295px;
  left: 924px;
  gap: 0px;
  opacity: 0px;
}
