nav {
  top: 32px;
  right: 68px;
  z-index: 888;
}

.nav-icon-container {
  width: 88.13px;
  height: 94.71px;
}

.nav-icon-container img {
  width: 100%;
  cursor: pointer;
}

.nav-icon-container-home .home-nav-icon {
  height: 50px;
  width: 50px;
}

/* NAVBAR SECTION */

/* .navbar {
  position: relative;
} */

.nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%; /* Adjust width as needed */
  height: 100%;
  background: #005f8f;
  color: white;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  z-index: 1000; /* Ensure menu is above other elements */
  /* margin-top: -100px; */
}

.nav-menu ul {
  list-style-type: none;
  /* padding: 20px; */
}

.nav-menu li {
  margin: 15px 0;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  padding-left: 30px;
  position: relative;
  font-size: 30px;
}

.nav-menu a:before {
  content: "";
  background: url(../image/homepage/header/arrow.png) no-repeat center;
  background-size: 100%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.nav-menu.active {
  transform: translateY(0);
}

.nav-icon {
  cursor: pointer;
}

.btn-close {
  margin-top: 25px;
}

.btn-close p {
  right: 50px;
}

.nav-container {
  /* padding: 50px; */
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-left: -70px;
}

.text-logo {
  width: 50%;
}

.logo-green {
  height: 250px;
  width: 250px;
}

@media screen and (max-width: 768px) {
  .nav-icon-container {
    width: 11.475vw;
    height: 12.332vw;
  }

  nav {
    top: 33px;
    right: 40px;
  }
}

@media screen and (max-width: 480px) {
  .nav-icon-container {
    width: 30px;
    height: 30px;
  }
}
