#homeid p {
  font-family: "NotoSansJP";
}

/* SECTION ---- 1 */

.section_1 {
  background: url("../image/homepage/header/header-bg-img.png");
  /* height: 100vh; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 25px 5% 0 5%;
}

.section_1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #005f8fd9; /* This is the overlay color */
  z-index: 0;
}

.header-container {
  position: relative;
  z-index: 12;
  padding-top: 45px;
}

.header-green-icon {
  margin-left: -100px;
  height: fit-content;
}

.header-res-img {
  margin-left: -60px;
}

.realxlink-txt {
  letter-spacing: 10px;
}

.ul-nav-menu {
  justify-content: space-between;
  align-items: baseline;
}

hr {
  border: none; /* Remove default border */
  height: 1px; /* Adjust height */
  background-color: #ffffff; /* Set background color to white */
  margin-top: 2px;
}

.header-first {
  padding-left: 90px;
}

.header-people {
  z-index: 1;
  vertical-align: bottom;
  width: 386px;
  height: 680px;
}

.header-border {
  left: 70px;
  top: 65px;
  z-index: -5;
}

.realxlink-txt {
  transform: rotate(90deg);
  top: 200px;
  font-family: var(--readex) !important;
  left: 0;
  z-index: -1;
}

.border-text {
  color: #005f8f;
  background-color: #fff;
  bottom: 70px;
  left: 85px;
  z-index: 33;
  width: calc(100% - 80px);
  padding: 45px 0;
  text-align: center;
}

.home-side-sm {
  top: 170px;
  left: -100px;
  transform: rotate(270deg);
}

.home-side-sm li {
  border: 1px solid #fff;
  padding: 10px;
  height: 35px;
  text-align: center;
  align-content: center;
}

.home-side-sm img {
  transform: rotate(90deg);
}

.header-second {
  padding-top: 100px;
  align-items: end;
}

/* Pagination: side */
.pg-main-container {
  right: -70px;
  top: 40%;
}

.pg-active {
  color: #81bf24bb;
}

.hr-pagination {
  display: none;
}

.hr-pagination {
  border: 1px solid #ffffff;
  width: 69px;
}

.pg-flex-container {
  align-items: center;
  gap: 15px;
  padding-bottom: 15px;
}

.pg-active p {
  font-size: 20px;
  color: #81bf24bb;
}

.pg-active hr {
  display: block;
}

/* START: SLICK SLIDER STYLE */
#homeid .slick-slide {
  margin: auto;
  height: 680px;
}

#homeid .slick-track {
  width: auto;
}

/* END: SLICK SLIDER STYLE */

/* SECTION ----- 2 */

.section_2 .main-ul {
  padding: 3% 5%;
  gap: 120px;
}

.section_2 .main-ul > li img {
  height: 670px;
  width: 695px;
  object-fit: cover;
}

.section_2 .main-ul > li:last-child {
  padding-right: 6%;
}

.img-container {
  position: relative;
}

.img-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 670px;
  background-color: #005f8f66; /* This is the overlay color */
  z-index: 0;
}

.section_2 .sub-ul {
  gap: 30px;
  bottom: 120px;
  right: 15%;
  z-index: 2;
}

.section_2 .sub-ul > li {
  width: 250px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.section_2 .sub-ul > li img {
  width: 100%;
}

.sub-ul-details {
  padding: 15px;
}

.sub-ul-details p {
  color: #0d3046;
}

.sect-head {
  bottom: 15px;
  width: 100%;
  text-align: center;
}

.act-txt-section {
  font-size: 230px;
  line-height: 309.38px;
  letter-spacing: 20px;
  z-index: 1;
  font-family: var(--notsansjp);
}

.side-text {
  right: 2%;
  top: 5%;
  font-family: var(--notsansjp);
  z-index: 55;
}

.side-text > img {
  padding-top: 20px;
}

/* SECTION ---- Slideshow */

.section_slideshow {
  background: #005f8fd9;
}

/* SECTION ----3: RECENT NEWS */

.section_3 {
  padding-top: 5%;
}

.section_3 .ul-news {
  margin: 0 5%;
  gap: 50px;
}

.ul-news li:first-child {
  flex: 0 0 53%;
}

.ul-news > li:last-child {
  padding-left: 85px;
}

.news-detils {
  margin-top: 3%;
}

.with-img {
  gap: 20px;
}

.img-container-news img {
  width: 100%;
}

.ul-recents {
  padding-right: 65px;
}

.ul-recents li {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #6a6a6a;
}

.ul-recents li:last-child {
  border-bottom: 1px solid #6a6a6a;
}

.img-container-news-recent {
  width: 80px;
}

.img-container-news-recent img {
  /* width: 100%; */
  height: 100%;
}

.details {
  color: #242424;
}

.flex.with-img div:first-child {
  width: 30%;
}

.flex.with-img div:last-child p {
  padding: 3px;
}

.recents {
  color: #005f8f;
}

#read-more {
  padding-top: 15px !important;
}

.sect-news {
  right: 0;
  top: -10%;
  z-index: -5;
}

#side-text-news {
  top: 10%;
}

/* SECTION ----4 */

.section_4 {
  background: #e4f6ff;
  position: relative;
}

.section-context {
  padding: 15% 5%;
}

.text-deco {
  font-weight: 700;
  font-size: 70px;
  line-height: 140.62%;
  color: #e4f6ff; /* Set the text color */
  text-shadow: -1px -1px 0 #083f75, 1px -1px 0 #083f75, -1px 1px 0 #083f75,
    1px 1px 0 #083f75; /* Creates the outline effect */
}

.text-deco-advisor {
  font-weight: 700;
  font-size: 70px;
  line-height: 140.62%;
  color: #e4f6ff; /* Set the text color */
  text-shadow: -1px -1px 0 #083f75, 1px -1px 0 #083f75, -1px 1px 0 #083f75,
    1px 1px 0 #083f75; /* Creates the outline effect */
}

.inline-txt {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.image-front {
  display: block;
  z-index: 1;
  position: relative;
}

.image-back-shadow {
  display: inline-block;
}

.background-color {
  position: absolute;
  top: -50px; /* Adjust to move up */
  left: 50px; /* Adjust to move right */
  width: 100%; /* Match the image width */
  height: 100%; /* Match the image height */
  background-color: #2e88aa; /* Example color */
  z-index: 0; /* Position it behind the image */
}

.representative-ul {
  gap: 100px;
  margin-bottom: 15%;
}

.representative-ul-next {
  justify-content: space-between;
}

.background-color-next {
  position: absolute;
  top: -50px; /* Adjust to move up */
  left: -50px; /* Adjust to move right */
  width: 100%; /* Match the image width */
  height: 100%; /* Match the image height */
  background-color: #2e88aa; /* Example color */
  z-index: 0; /* Position it behind the image */
}

.news-main-clr {
  color: #083f75;
}

.rep-details {
  padding: 30px 0;
}

.main-button {
  background: var(--buttoncolor);
  outline: none;
  border: none;
  padding: 5px 35px;
  border-radius: 0px 10px 0px 0px;
  color: white;
}

.icon-button {
  rotate: 52deg;
  right: 0;
  top: -18px;
}

.home-icon-button {
  rotate: 52deg;
  /* right: -25px; */
  top: -18px;
}

#btn-news {
  text-align: right;
}

#btn-news .main-button-logo {
  padding: 15px 80px;
}

.btn-container {
  margin-top: 10%;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
}

.representative-detail-container {
  padding-right: 20%;
}

.representative-ul-next > li:first-child p {
  font-size: 22px;
  padding: 3px 0;
}

.inline-txt-advisor {
  writing-mode: vertical-rl;
  transform: rotate(0deg);
}

.side-advisor {
  top: 55%;
}

/* SECTION: NEWS/REPRESENTATIVE */

.section-representative {
  /* margin-bottom: 10%; */
}

.top-title-news {
  text-align: right;
  padding-right: 40px;
  z-index: 1;
}

.top-title-news p {
  color: #d9d9d980;
  line-height: 1;
}

.rep-contianer-main img {
  z-index: 1;
  bottom: 0;
}

.top-title-rep {
  background: #e4f6ff;
  padding-left: 50px;
  margin-top: -100px;
  z-index: 2;
  padding-top: 50px;
}

.top-title-rep p {
  color: #2b4e6433;
}

.bot-content-rep {
  background: url("../image/homepage/section-fifth/bg-image-rep.png");
  /* height: 100vh; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  height: 393px;
}

.bot-content-rep::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2e88aa80;
  z-index: 0;
}

.bot-content-rep-container {
  position: relative;
  z-index: 5;
}

.bot-ul-rep {
  padding-top: 90px;
  padding-right: 130px;
  padding-left: 450px;
}

.li-real-container {
  background: #fff;
  padding: 0 5px 5px 25px;
  text-align: center;
  height: 186px;
  width: 450.09px;
  box-shadow: -10px 10px 4px 0px #ffffff40;
}

.li-real-container p {
  color: #2b4e64;
}

.li-real-container p:first-child {
  line-height: 0;
  padding-top: 35px;
  overflow: hidden;
  text-align: left;
}

.main-button-rep {
  text-align: center;
}

#side-text-rep {
  top: 15%;
}

/* END SECTION: NEWS/REPRESENTATIVE */

/* SECTION: ADVISOR */

#advisor_home {
  background-color: #e4f6ff;
  border-radius: 10px;
  padding-block: 40px;
  flex-direction: column;
}

.av-container {
  position: relative;
  height: 75%;
  width: 100%;
  background: linear-gradient(rgba(43, 78, 100, 0.2), rgba(43, 78, 100, 0.2));
  /* padding: 40px; */
  overflow: hidden; /* Ensure content doesn't overflow */
}

.av-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../image/homepage/section-fifth/overlay-bg.png");
  opacity: 0.1;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.av-container > * {
  position: relative;
  z-index: 1;
}
#advisor_home .av-title {
  text-align: right;
  font-family: var(--notsansjp);
  font-size: 120px;
  font-weight: 700;
  line-height: 168.75px;
  letter-spacing: 0.05em;
  color: rgba(43, 78, 100, 0.2);
  margin-right: 20px;
}
.scl {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.av-schools {
  gap: 40px;
  padding: 50px;
  margin-right: 30px;
}

.av-schools > div:last-child {
  margin-left: 50px;
}

.scl h1 {
  font-family: var(--notsansjp);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
}

.scl h3 {
  font-family: var(--notsansjp);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
}

.scl-col-1,
.scl-col-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 30px;
}

.border-advisor {
  background: #fff;
  padding: 25px;
}

.advisor-img-container {
  background: #2b4e64;
}

.advisor-img-container img {
  vertical-align: bottom;
  margin-top: -90px;
}

.advisor-txt-container {
  text-align: center;
  padding-top: 25px;
}

#side-text-adv {
  top: 55%;
  right: 2%;
}

#side-text-adv img {
  padding-top: 35px;
}

#btn-advisor .icon-button {
  left: 260px;
}

/* END: SECTION ADVISOR */

/* SECTION -----5  */

.section_5 {
  z-index: 1;
  margin-top: 200px;
}

.sect-location {
  top: -200px;
  z-index: -1;
  width: 100%;
}

.loc-txt-section {
  font-size: 250px;
  line-height: 351.56px;
  letter-spacing: 5px;
  z-index: 1;
  width: 100%;
  text-align: center;
  background: #e4f6ff;
}

.section_5 ul > li {
  width: 100%;
}

.section_5 ul > li:first-child {
  background: #0d3046;
  padding: 50px;
}

.loc-link-container {
  padding: 0 70px;
}

.p-heading1 {
  font-weight: 700;
  color: #fff;
  line-height: 112.5px;
  font-size: 80px;
  margin-bottom: 5%;
}

.map-link {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  align-items: center;
  color: #fff;
  padding: 10px;
  gap: 30px;
}

.map-link:hover {
  border: 1px solid #56b0d2;
}

.map-content {
  height: 100%;
  background-color: #fff;
}

.map-link-active {
  border: 2px solid #56b0d2;
  border-radius: 15px;
}

.tab {
  height: 100%;
}

.hidden {
  display: none;
}

.loc-icon {
  bottom: -5px;
  right: 0;
}

/* SECTION: ----6 */

.section_6 {
  margin: 10% 8%;
}

.ul-logo > li {
  width: 100%;
}

.logo-images div {
  width: 50%;
  align-content: center;
}

.main-button-logo {
  background: var(--buttoncolor);
  outline: none;
  border: none;
  padding: 5px 55px;
  border-radius: 0px 10px 0px 0px;
  color: #ffffff;
}

.logo-details {
  padding-right: 125px;
}

.logo-text {
  padding: 5% 0;
}

.side-supporter {
  right: -7%;
  top: 5%;
}

#btn-logo {
  padding: 15px 80px;
}
