#joinusid p {
  font-family: "NotoSansJP";
}

#joinusid .section-project-header {
  background: url("../image/project/header/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 778px;
}

#joinusid .text-deco {
  color: none; /* Set the text color */
  -webkit-text-stroke: 2px black;
  font-size: 200px;
}

#joinusid .header-text-items .header-item-text {
  color: var(--buttoncolor);
  font-size: 70px;
  font-weight: 700;
  font-family: var(--readex);
  margin-bottom: 80px;
  text-shadow: -1.5px -1.5px 0 #fff, 1.5px -1.5px 0 #fff, -1.5px 1.5px 0 #fff,
    1.5px 1px 0 #fff; /* Creates the outline effect */
}

#joinusid .header-text {
  line-height: 170px;
}

#joinusid .header-text-items {
  z-index: 3;
  padding-left: 100px;
  padding-right: 80px;
  margin-top: -150px;
}

#joinusid .ul-text-items {
  width: 80%;
}

#joinusid .header-text-item label {
  color: var(--yellowgreen);
  background: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 5px 35px;
  border-radius: 0 5px 5px 0;
}

/* SECTION ---- MARQUEE */

#joinusid .marquee-container {
  height: 118px;
  width: 100%; /* Full width */
  overflow: hidden; /* Hide the overflowing content */
  background-color: #2e88aa; /* Background color for the marquee */
  display: flex;
  justify-content: center;
  align-items: center;
}

#joinusid .marquee {
  display: inline-flex; /* Ensure that ul items flow horizontally */
  white-space: nowrap; /* Prevent line breaks */
  animation: marquee 25s linear infinite;
}

#joinusid .marquee-container p {
  color: white;
  font-weight: 700;
  font-size: 30px;
}

#joinusid .marquee-container ul {
  display: inline-flex; /* Change to inline-flex to avoid wrapping */
  align-items: center;
  padding: 0;
  margin: 0;
}

#joinusid .marquee-container ul li {
  list-style: none; /* Remove default bullet points */
  margin: 0 25px; /* Adjust margin for spacing */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  } /* Start off-screen to the right */
  100% {
    transform: translateX(-100%);
  } /* End off-screen to the left */
}

/* SECTION ---- 1: JoinUs-Donate */

.section-join-donation {
  background: #56b0d2;
  min-height: 944px;
}

.section-join-donation img {
  vertical-align: bottom;
  bottom: 0;
}

.section-join-donation > ul {
  padding-top: 123px;
  /* padding-right: 167px; */
}

.section-join-donation ul li {
  flex: 1;
}

.section-join-donation ul li:first-child {
  align-content: end;
}

.section-join-donation ul li:first-child p {
  /* writing-mode: vertical-rl; */
  transform: rotate(90deg);
  white-space: nowrap;
  width: 200px;
}

.section-join-donation ul li:last-child {
  background-color: #fff;
  padding: 60px;
  position: relative;
  margin-right: 167px;
  margin-left: 120px;
}

#joinusid .donate-title {
  margin-top: 2%;
  margin-bottom: 5%;
}

#joinusid .btn-container {
  text-align: center;
}

/* SECTION -----2: Benefits */

#joinusid fieldset {
  border: 1px solid #56b0d2;
  padding: 30px 30px;
  border-radius: 10px;
  width: 300px;
}

#joinusid .fieldset-container ul li:nth-child(2) {
  margin-top: 0;
}

#joinusid .fieldset-container ul li:nth-child(3) {
  margin-top: 0;
}

/* SECTION ------3: Membership */

.section-join-membership {
  background: url("../image/joinus/section-three/main-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 964px;
  margin-top: 88px;
  margin-bottom: 25px;
}

.section-join-membership::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(13, 48, 70, 0.8); /* This is the overlay color */
  z-index: 0;
}

.img-bg-membership {
  left: -25px;
}

.section-join-membership > ul {
  padding-top: 123px;
  /* padding-right: 167px; */
}

.section-join-membership ul li {
  flex: 1;
}

.section-join-membership ul li:first-child {
  align-content: baseline;
}

.section-join-membership ul li:first-child p {
  /* writing-mode: vertical-rl; */
  transform: rotate(90deg);
  white-space: nowrap;
  width: 200px;
}

.section-join-membership ul li:last-child {
  background-color: #fff;
  padding: 60px;
  position: relative;
  margin-right: 167px;
  margin-left: 120px;
}

/* SECTION ---- 5: INQUIRE */

.section-inquire {
}
