#joinusid p {
  font-family: "NotoSansJP";
}

#joinusid .section-project-header {
  background: url("../image/project/header/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

#joinusid .text-deco {
  color: none;
  -webkit-text-stroke: 2px black;
  font-size: 200px;
}

#joinusid .header-text-items .header-item-text {
  color: var(--buttoncolor);
  font-size: 70px;
  font-weight: 700;
  font-family: var(--readex);
  margin-top: 80px;
  text-shadow: -1.5px -1.5px 0 #fff, 1.5px -1.5px 0 #fff, -1.5px 1.5px 0 #fff,
    1.5px 1px 0 #fff;
}

#joinusid .header-text {
  line-height: 170px;
}

#joinusid .header-text-items {
  z-index: 3;
  padding-left: 100px;
  padding-right: 80px;
  margin-top: -150px;
}

#joinusid .ul-text-items {
  width: 80%;
}

#joinusid .header-text-item label {
  color: var(--yellowgreen);
  background: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 5px 35px;
  border-radius: 0 5px 5px 0;
}

/* SECTION ---- MARQUEE */

#joinusid .marquee-container {
  height: 118px;
  width: 100%;
  overflow: hidden;
  background-color: #2e88aa;
  display: flex;
  justify-content: center;
  align-items: center;
}

#joinusid .marquee {
  display: inline-flex;
  white-space: nowrap;
  animation: marquee 25s linear infinite;
}

#joinusid .marquee-container p {
  color: white;
  font-weight: 700;
  font-size: 30px;
}

#joinusid .marquee-container ul {
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

#joinusid .marquee-container ul li {
  list-style: none;
  margin: 0 25px;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* SECTION ---- 1: JoinUs-Donate */

.section-join-donation {
  background: #56b0d2;
  position: relative;
}

.section-join-donation > ul {
  padding-top: 123px;
}

.section-join-donation ul li {
  flex: 1;
}

.section-join-donation ul li:first-child {
  align-content: end;
}

#joinusid .section2-side-title {
  transform: rotate(90deg);
  white-space: nowrap;
  width: 200px;
  transform-origin: left bottom;
  position: absolute;
  top: 300px;
  left: 20px;
  z-index: 2;
}

#joinusid .donate-title {
  font-family: var(--kiak);
  margin-top: 2%;
  margin-bottom: 5%;
}

#joinusid .btn-container {
  text-align: center;
  margin-top: 20px;
}

.section2-card {
  background-color: #fff;
  padding: 60px;
  position: absolute;
  max-width: 800px;
  margin: 20px;
  left: 531px;
  top: 178px;
}

.section2-img {
  flex: 2;
  width: 100%;
  height: auto;
}

.section2-img img {
  height: 100%;
  object-fit: fill;
  object-position: bottom;
  display: block;
}

.section2-flex-cont {
  position: relative;
  align-items: center;
}

/* SECTION ---- 5: INQUIRE */

.section_3_don {
  padding-block-end: 70px;
}

@media screen and (max-width: 1000px) {
  .section-join-donation {
    max-height: unset;
  }
  .section2-flex-cont {
    margin: 20px;
    flex-direction: column-reverse;
  }

  .section2-img {
    z-index: 2;
  }
  .section2-img img {
    vertical-align: bottom;
    bottom: 0;
    margin-top: -50px;
    z-index: 2;
    width: 100%;
  }
  .section2-card {
    padding: 60px;
    position: relative;
    left: unset;
    top: unset;
  }
  #joinusid .section2-side-title {
    top: 700px;
    left: 20px;
  }
  #joinusid .donate-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28.13px;
    letter-spacing: 0.05em;
  }

  .donate-contents {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .section2-card {
    padding: 29px;
    font-size: 14px;
  }

  #joinusid .section2-side-title {
    top: 500px;
  }
}
