#projectid p {
  font-family: "NotoSansJP";
}

#projectid .section-project-header {
  background: url("../image/project/header/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 778px;
}

#projectid .landing-fg img {
  display: block;
  /* max-width: 100%; */
  height: auto;
  margin: 0 0 0 auto;
  padding: 0;
  object-fit: cover;
  /* margin-left: 400px; */
  width: 80%;
}

/* SECTION ------ 1 */

.section-project-sgds {
  background: url("../image/project/section-one/bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 821px;
  padding-top: 65px;
}

.section-project-sgds::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 63, 117, 0.8); /* This is the overlay color */
  z-index: 0;
}

.project-sgds-container {
  z-index: 2;
  height: 821px;
}

.overlay-arc {
  background: url("../image/project/section-one/arc-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  height: 73.4%;
  /* width: 100%; */
}

.project-sgds-container .section-title {
  text-align: right;
  padding-right: 100px;
  z-index: -1;
  line-height: 200px;
}

.overlay-arc .arc-img-side {
  right: 0;
  top: -150px;
  z-index: -1;
}

.overlay-arc ul,
.overlay-arc-study ul {
  padding-left: 60px;
  padding-right: 40px;
  padding-top: 150px;
}

.overlay-arc li,
.overlay-arc-study li {
  flex: 1;
}

.overlay-arc li:first-child,
.overlay-arc-study li:first-child {
  text-align: center;
  text-shadow: -1.5px -1.5px 0 #fff, 1.5px -1.5px 0 #fff, -1.5px 1.5px 0 #fff,
    1.5px 1px 0 #fff; /* Creates the outline effect */
}

.overlay-arc li:last-child,
.overlay-arc-study li:last-child {
  padding-top: 70px;
}

#projectid .main-button {
  padding: 5px 15px;
}

#projectid .icon-button {
  left: 290px;
}

/* SECTION -----2 */

.section-project-study {
  min-height: 821px;
  padding-top: 25px;
  margin-bottom: 86px;
}

.section-title-study {
  padding-left: 30px;
  letter-spacing: 10px;
}

.overlay-arc-study {
  background: url("../image/project/section-two/arc-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  height: 73%;
  /* width: 100%; */
}

.overlay-arc-study .arc-img-side {
  right: 0;
  top: -325px;
  z-index: -1;
}

/* SECTION -----3 */

@media screen and (max-width: 1300px) {
  .br-display {
    display: block;
  }

  .header-text {
    line-height: 175px;
  }
}

@media screen and (max-width: 980px) {
  .section-project-header .img-people {
    bottom: 0;
    right: 0;
    width: 100%;
  }
}

#projectid .section-title {
  /* font-family: var(--notsansjp);
  font-size: 60px;
  font-weight: 700;
  line-height: 84.38px; */
  -webkit-text-stroke: unset;
  text-shadow: unset;
}
