#projectid p {
  font-family: "NotoSansJP";
}

#projectid .landing-fg {
  position: absolute;
  bottom: 0;
  /* left: -276px; */
  width: 100%;
}

#projectid .au-main-title {
  font-size: 11.806vw;
  line-height: unset;
}

#projectid .section-project-header {
  background: url("../image/project/header/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  /* min-height: 778px; */
}

.section-projects {
  background: url("../image/project/section-one/bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 821px;
  padding-top: 65px;
}

.section-projects::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 63, 117, 0.8);
  z-index: 0;
}

.section-projects:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 0;
}

.projects-container {
  z-index: 2;
  height: 821px;
}

/* SDG ->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.overlay-arc {
  background: url("../image/project/section-one/arc-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  height: 73.4%;
  /* background: rgba(255, 255, 255, 0.5); */
}

.projects-container .section-title {
  text-align: right;
  padding-right: 100px;
  z-index: -1;
  line-height: 200px;
  text-shadow: unset;
  -webkit-text-stroke: unset;
}

.overlay-arc .arc-img-side {
  right: 0;
  top: -159px;
  z-index: -1;
}

.overlay-arc ul,
.overlay-arc-study ul {
  padding-left: 60px;
  padding-right: 40px;
  padding-top: 205px;
  gap: 45px;
}

.overlay-arc li,
.overlay-arc-study li {
  flex: 1;
}

.overlay-arc li:first-child,
.overlay-arc-study li:first-child {
  text-align: center;
  text-shadow: -1.5px -1.5px 0 #fff, 1.5px -1.5px 0 #fff, -1.5px 1.5px 0 #fff,
    1.5px 1px 0 #fff;
}

.overlay-arc li:last-child,
.overlay-arc-study li:last-child {
  padding-top: 70px;
}

/* END SDG ->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* #projectid .main-button {
  padding: 5px 15px;
} */

/* STUDY ABROAD ->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#proj-sa .section-title {
  text-align: left;
}

#proj-sa .overlay-arc {
  background: url("../image/project/Rectangle 191.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  height: 73.4%;
  /* background: rgba(255, 255, 255, 0.5); */
}

#proj-sa .section-projects::before {
  background-color: #fff;
}

#proj-sa .section-title {
  color: #d9d9d9;
  font-size: 11.5vw !important; /* Use vw for responsive font size */
}

#proj-sa .overlay-arc .arc-img-side {
  /* right: -23px; */
  top: -325px;
  z-index: -1;
  /* left: 682px; */
  right: 0;
}

#projectid .section-title {
  padding-left: 20px;
  font-size: 170px;
}
/* END SA->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: 1220px) {
  .proj-title {
    font-size: 4.5vw;
  }
  .proj-desc {
    font-size: 2vw;
  }
  .projects-container .section-title {
    font-size: 9vw;
  }
  #proj-sa .section-title {
    font-size: 9vw;
  }
  .overlay-arc li:last-child,
  .overlay-arc-study li:last-child {
    padding-top: unset;
  }
}

@media (max-width: 768px) {
  #projectid .landing-fg {
    left: -275px;
  }
  .proj-title {
    font-family: var(--readex);
    font-size: 6vw;
    font-weight: 700;
    line-height: 1.4em;
    letter-spacing: 0.05em;
    text-align: center;
  }
  .proj-desc {
    font-family: var(--notsansjp);
    font-size: 3vw;
    font-weight: 700;
    line-height: 1.4em;
    letter-spacing: 0.03em;
    text-align: left;
  }

  .flex-proj-cont {
    flex-direction: column;
  }
  .projects-container .section-title {
    line-height: unset;
  }
  .projects-container .section-title {
    font-size: 170px;
    text-align: center;
    padding-right: unset;
  }
  .overlay-arc .arc-img-side {
    top: -43px;
    width: 47%;
  }

  .overlay-arc {
    background: url("../image/project/Rectangle 189.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    height: 73.4%;
    /* background: rgba(255, 255, 255, 0.5); */
  }

  .overlay-arc ul {
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 100px;
  }
  .overlay-arc .arc-img-side {
    top: -124px;
    left: 326px;
    width: 100%;
    transform: rotate(-1deg);
    right: 0;
  }

  .overlay-arc .arc-img-side img {
    width: 438px;
    height: 198px;
  }

  #proj-sa .overlay-arc {
    background: url("../image/project/Rectangle 190.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    height: 73.4%;
    /* background: rgba(255, 255, 255, 0.5); */
  }
  #proj-sa .overlay-arc .arc-img-side {
    top: -109px;
    left: 447px;
    width: 100%;
    transform: rotate(-1deg);
  }
  #proj-sa .arc-img-side img {
    width: 316px;
    height: 183px;
  }
}

@media (max-width: 670px) {
  .overlay-arc .arc-img-side {
    top: -43px;
    width: 47%;
  }

  .overlay-arc {
    background: url("../image/project/Rectangle 189.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    height: 73.4%;
    /* background: rgba(255, 255, 255, 0.5); */
  }

  .overlay-arc ul {
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 100px;
  }
  .overlay-arc .arc-img-side {
    top: -132px;
    left: 233px;
    width: 100%;
    transform: rotate(-1deg);
    right: 0;
  }

  .overlay-arc .arc-img-side img {
    width: 438px;
    height: 198px;
  }
  #proj-sa .overlay-arc .arc-img-side {
    top: -117px;
    left: 345px;
    width: 100%;
    transform: rotate(-1deg);
  }
}

@media (max-width: 600px) {
  .overlay-arc .arc-img-side {
    top: -43px;
    width: 47%;
  }

  .overlay-arc {
    background: url("../image/project/Rectangle 189.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    height: 73.4%;
    /* background: rgba(255, 255, 255, 0.5); */
  }

  .overlay-arc ul {
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 100px;
  }
  .overlay-arc .arc-img-side {
    top: -132px;
    left: 176px;
    width: 100%;
    transform: rotate(-1deg);
    right: 0;
  }

  .overlay-arc .arc-img-side img {
    width: 438px;
    height: 198px;
  }

  #proj-sa .section-title {
    color: #d9d9d9;
    font-size: 8vw !important; /* Use vw for responsive font size */
    text-align: center;
  }

  #proj-sa .overlay-arc {
    background: url("../image/project/Rectangle 190.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    height: 73.4%;
    /* background: rgba(255, 255, 255, 0.5); */
  }
  #proj-sa .overlay-arc .arc-img-side {
    top: -81px;
    left: 324px;
    width: 100%;
    transform: rotate(-1deg);
  }
  #proj-sa .arc-img-side img {
    width: 284px;
    height: 144px;
  }
}

@media (max-width: 480px) {
  .flex-proj-cont {
    flex-direction: column;
  }
  #projectid .icon-button .proj-title {
    font-family: var(--readex);
    font-size: 6vw; /* Use vw for responsive font size */
    font-weight: 700;
    line-height: 1.4em; /* Use em for line height */
    letter-spacing: 0.05em;
    text-align: center;
  }
  .proj-desc {
    font-family: var(--notsansjp);
    font-size: 4vw; /* Use vw for responsive font size */
    font-weight: 500;
    line-height: 1.4em; /* Use em for line height */
    letter-spacing: 0.03em;
    text-align: left;
  }

  .overlay-arc .arc-img-side {
    top: -43px;
    width: 47%;
  }

  .projects-container .section-title {
    line-height: unset;
  }

  .overlay-arc {
    background: url("../image/project/Rectangle 189.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    height: 73.4%;
    /* background: rgba(255, 255, 255, 0.5); */
  }
  .projects-container .section-title {
    font-size: 31vw; /* Use vw for responsive font size */
    text-align: center;
    padding-right: unset;
  }
  .overlay-arc ul {
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 100px;
  }
  .overlay-arc .arc-img-side {
    top: -132px;
    left: 64px;
    width: 100%;
    transform: rotate(-1deg);
    right: 0;
  }

  .overlay-arc .arc-img-side img {
    width: 438px;
    height: 198px;
  }

  #proj-sa .section-title {
    color: #d9d9d9;
    font-size: 20vw !important; /* Use vw for responsive font size */
    text-align: center;
  }

  #proj-sa .overlay-arc {
    background: url("../image/project/Rectangle 190.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    height: 73.4%;
    /* background: rgba(255, 255, 255, 0.5); */
  }
  #proj-sa .overlay-arc .arc-img-side {
    top: -106px;
    left: 197px;
    width: 100%;
    transform: rotate(-1deg);
  }
  #proj-sa .arc-img-side img {
    width: 284px;
    height: 172px;
  }
  #projectid .icon-button {
    left: 290px;
  }
  #projectid .au-main-title {
    max-width: 50%;
    margin-top: 20px;
  }
}

@media (max-width: 425px) {
  #proj-sa .overlay-arc .arc-img-side {
    top: -106px;
    left: 128px;
    width: 100%;
    transform: rotate(-1deg);
  }
}

@media (max-width: 375px) {
  .overlay-arc .arc-img-side {
    top: -132px;
    left: 2px;
    width: 100%;
    transform: rotate(-1deg);
    right: 0;
  }

  #proj-sa .overlay-arc .arc-img-side {
    top: -81px;
    left: 91px;
    width: 100%;
    transform: rotate(-1deg);
  }
  .overlay-arc li:last-child,
  .overlay-arc-study li:last-child {
    padding-top: 20px;
  }
}

@media (max-width: 390px) {
  .overlay-arc .arc-img-side {
    left: -42px;
  }

  #proj-sa .overlay-arc .arc-img-side {
    top: -108px;
    left: 107px;
  }
  .overlay-arc li:last-child,
  .overlay-arc-study li:last-child {
    padding-top: 20px;
  }
  #projectid .icon-button {
    left: 243px;
  }
}
