.redcolor {
  color: #e4011e;
}

.global-width {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  /* height: 100%;  */
}

.txt-shadow {
  font-family: var(--mainFont);
  color: #fff;
  text-shadow: -2px -2px 0 #083f75, 2px -2px 0 #083f75, -2px 2px 0 #083f75,
    2px 2px 0 #083f75, -3px -3px 0 #083f75, 3px -3px 0 #083f75,
    -3px 3px 0 #083f75, 3px 3px 0 #083f75;
}

.dark-blue {
  color: var(--darkblue);
}

.mr-r-87 {
  margin-right: 87px;
}

.mr-l-87 {
  margin-left: 87px;
}

/* SCREENING SECTION */
.slider-container {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.sliderScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.slide {
  box-sizing: border-box;
  position: absolute;
  transition: all 0.5s ease-in-out;
  background-color: white;
  /* border-radius: 10px; */
  border-bottom: 1px solid rgba(106, 106, 106, 1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 220px;
  height: 321px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  padding: 18px;
}

.slide-1 {
  color: #e4011e;
}
.slide-2 {
  color: #ec6a06;
}
.slide-3 {
  color: #f5a20b;
}
.slide-4 {
  color: #28a838;
}
.slide-5 {
  color: #0075ba;
}

.slide h2 {
  position: relative;
  text-align: center;
  padding-bottom: 6px;
  margin-bottom: 22px;
}

.slide h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 80%; /* Adjust the width as needed */
  border-bottom: 1px solid #6a6a6a;
}

.text-centered {
  text-align: center;
  font-family: var(--mainFont);
  font-size: 18px;
  font-weight: 500;
  line-height: 25.31px;
  letter-spacing: 0.1em;
  text-align: center;
}

.text-justified {
  text-align: justify;
  font-family: var(--mainFont);
  font-size: 14px;
  font-weight: 500;
  line-height: 19.69px;
  letter-spacing: 0.1em;
  text-align: left;
}

.nav-button {
  position: absolute;
  bottom: 405px; /* Positioned above the center card */
  border: none;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  background-color: unset;
}

#prevBtn {
  color: var(--prevnextcolor);
  left: calc(
    50% - 30px
  ); /* Adjusted to be on the left side of the center card */
}

#nextBtn {
  color: var(--prevnextcolor);
  right: calc(
    50% - 30px
  ); /* Adjusted to be on the right side of the center card */
}

.screening-section {
  background-color: var(--primaryColor);
  padding: 50px 0 0 0;
  background-color: rgba(196, 229, 238, 0.2);
  /* height: 100vh; */
}

/* .screening-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 15px;
  max-width: 220px;
  height: 321px;
  border: 1px solid transparent;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.screen-title {
  font-size: 25px;
  font-weight: 900;
  line-height: 35.16px;
  letter-spacing: 0.1em;
  text-align: center;
  position: relative;
  padding-bottom: 6px;
  margin-bottom: 22px; /* Add space below the title */
}

.screen-title::after {
  content: "";
  display: block;
  width: 50%;
  border-bottom: 1px solid #000;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.screening-page-title {
  font-family: var(--kiak);
  font-size: 60px;
  font-weight: 700;
  line-height: 84.38px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #083f75;
  margin-left: 121px;
  border-left: 4px solid#083f75;
  padding-left: 10px;
}

/* Photo-gallery Section */

.photo-gallery {
  /* padding: 77px 0; */
  /* padding-bottom: 60px; */
  padding-block: 60px;
}
.photo-gallery-images {
  width: 70%;
  display: flex;
  margin-left: auto;
}

.photo-gallery-title h2 {
  font-family: var(--notsansjp);
  font-size: 55px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0.1em;
  text-align: left;
}

.photo-gallery-title h1 {
  font-family: var(--notsansjp);
  font-size: 80px;
  font-weight: 700;
  line-height: 110px;
  letter-spacing: 0.1em;
  text-align: left;
}

.outline-blue {
  color: var(--bgblue);
  filter: url(#stroke-text-svg-filter-blue);
}

.photo-gallery-texts {
  display: flex;
  margin-left: 115px;
  /* margin-top: 59px; */
}
.photo-gallery-content {
  /* padding-top: 52px; */
  padding-left: 126px;
  padding-right: 49px;
  max-width: 800px;
}
.photo-gallery-content p {
  font-family: var(--notsansjp);
  color: #083f75;
  padding-bottom: 68px;
  border-bottom: 2px solid var(--darkblue);
}

.gallery-images {
  display: flex;
  gap: 300px;
  margin-top: 41px;
  max-width: 50%;
}

.gallery-image {
  width: 500px;
  height: 300px;
  top: 312px;
  left: 432px;
  gap: 0px;
  opacity: 0px;
}
.swiper-pg {
  overflow: hidden;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .photo-gallery-images {
    width: 92%;
  }
}

@media (max-width: 1000px) {
  .sdg-title {
    display: unset;
  }

  .main-title {
    margin-right: unset;
  }

  .main-title h1 {
    display: none;
  }

  .front-section {
    display: flex;
    flex-direction: column;
  }

  .front-section-content {
    padding: 45px 40px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .screening-page-title {
    margin-left: 40px;
    font-size: 35px;
    line-height: unset;
  }

  .photo-gallery {
    /* padding: unset; */
  }

  .photo-gallery-texts {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    gap: 20px;
  }

  .photo-gallery-title h1 {
    font-size: 70px;
  }
  .photo-gallery-content {
    padding-left: unset;
  }
  .photo-gallery-content p {
    border-bottom: unset;
    padding-bottom: unset;
  }
  .gallery-images {
    gap: 480px;
  }
  .gallery-image {
    /* width: 213.74px; */
    /* height: 162px; */
  }
}

@media (max-width: 1220px) {
  .gallery-images {
    gap: 480px;
  }
}
