#impressions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 76px; */
  padding-bottom: 116px;
  padding-top: 116px;
  background: rgba(129, 191, 36, 0.3);
}

#impressions .impressions-slider {
  width: 100%;
}

#impressions .impression-image {
  width: 494px;
  height: min(auto, 574px);
}

#impressions .impression-image img {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.impressions-slider-images {
  width: 100%;
  margin: 0 auto; /* Center the container */
}

.slick-slide {
  text-align: center; /* Center the content inside each slide */
  margin: 20px;
}

.impressions-slider {
  width: 90%;
  margin: 0 auto;
}

.impression-image img {
  width: 100%;
  height: auto;
}

.slick-center {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

#impressions .impressions-title {
  font-family: var(--readex);
  font-size: 50px;
  font-weight: 700;
  line-height: 70.31px;
  letter-spacing: 0.1em;
  text-align: left;
  margin-bottom: 46px;
  color: var(--footertextcolor);
}

#info-session {
  padding: 121px 115px;
  flex-direction: row;
  gap: 10px;
  color: var(--darkblue);
  justify-content: space-around;
  align-items: center;
}

#info-session .info-image {
  max-width: 669px;
}

#info-session .info-image img {
  width: 100%;
  /* height: 100%; */
}

#info-session .info-content {
  max-width: 554px;
}

#info-session .info-texts {
  flex-direction: column;
  gap: 23px;
}

#info-session .info-list {
  margin: 30px 0;
}

@media (max-width: 1000px) {
  #info-session {
    padding: 46px;
    flex-direction: column-reverse;
    gap: 10px;
    color: var(--darkblue);
    align-items: center;
  }

  #info-session .info-image {
    width: 100%;
    height: auto;
    max-width: 300px; /* Set a maximum width for mobile */
    max-height: 300px; /* Set a maximum height for mobile */
    overflow: hidden; /* Ensure the image does not overflow */
  }

  #info-session .info-image img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensure the image covers the container */
  }
  #info-session .btn-container {
    text-align: center;
  }
  #info-session .sb_title {
    font-size: 30px;
    text-align: center;
  }
}
