#whatsnewid .donation-container p {
  white-space: nowrap;
}
#whatsnewid .article-title,
#homeid .article-title {
  font-family: var(--kiak);
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  margin-inline: unset;
}

.news-content p {
  font-family: var(--notsansjp) !important;
}

.section_news {
  /* padding: 30px; */
  margin-top: -215px;
}

.btn-readmore {
  background: transparent;
  border: none;
  color: #898989;
}

.label-recents {
  color: #005f8f;
  /* margin-top: 80px; */
}

.recent-news {
  border-bottom: 1px solid #6a6a6a;
  padding: 20px 0;
  gap: 10px;
}

.recent-news div:last-child {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* gap: 20px; */
}

.news-container {
  background-color: #fff;
  top: -215px;
  width: 100%;
}

.news-img {
  top: -10vw;
  width: 100%;
  height: auto;
  margin-top: -10vw;
  max-width: 80vw;
}

.main-news-container {
  display: flex;
  flex-wrap: wrap;
  padding: 55px; /* Apply padding to the whole container */
}

.main-article {
  flex: 2;
  margin-right: 20px;
}

.recent-news {
  flex: 1;
}

.recent-news-container {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

.with-img {
  display: flex;
  gap: 20px;
  padding-block: 20px;
}

.img-container-news-recent img {
  width: 100px;
  height: auto;
}
.main-news-details {
  /* padding: 350px 520px 50px 91px; */
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.news-content p {
  font-weight: 500;
  font-size: 20px;
}

.news-content p:last-child {
  color: #56b0d2;
}

.news-content img {
  padding: 30px 0 50px;
}

.recent-news img {
  height: 84px;
  width: 84px;
}

@media screen and (max-width: 1200px) {
  .news-img {
    margin-top: 25px;
  }
}

@media screen and (max-width: 768px) {
  .section_news {
    margin-top: unset;
  }

  .main-news-container {
    flex-direction: column;
    padding: 0 30px; /* Adjust padding for smaller screens */
  }

  .main-article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .news-content img {
    width: 100%;
  }

  .border {
    padding-bottom: unset;
  }

  .main-news-details .p-50 {
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {
  .section_news {
    padding: unset;
  }
  .main-news-container {
    flex-direction: column;
    /* padding: 0 15px; */
  }

  .main-article {
    width: 100%;
    margin-right: 0; /* Remove margin for smaller screens */
  }

  .recent-news {
    width: 100%;
    margin-top: 20px; /* Add margin to separate sections */
  }

  .recent-news-container {
    gap: 10px; /* Reduce gap for smaller screens */
  }

  .img-container-news-recent img {
    width: 100%;
    height: auto;
  }

  .news-content p {
    font-size: 16px;
  }

  .news-content img {
    padding: 20px 0 30px;
  }

  /* .recent-news img {
    height: auto;
    width: 100%;
  } */
}
